{% extends "base.html" %}

{% block page_title %} {{ month | title }} Challenge
{% endblock %}

{% block content %}
    <div class="flex justify-center py-5">
        <h1 class="text-xl text-stone-50">This {{ month | title }}'s challenge</h1>
    </div>
    <div class="flex justify-center">
        {% if text is not None %}
            <p class="text-6xl text-stone-50">{{ text }}</p>
        {% else %}
            <p class="text-6xl text-stone-50">There is no challenge for this month</p>
        {% endif %} 
    </div>
{% endblock %}
